@import url('https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots|Roboto');

/*header {
    margin-top: 5%;
    padding-top: 50px;
    height: 100px;
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  
  header:after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 10px;
    width: calc(100% - 20px);
    border-bottom: 1px dashed rgba(255,255,255,0.4);
    box-shadow: 0 0 2px rgba(43,48,52,0.2);
  }
  
  header .blur {
    background-image: inherit;
    background-position: 0px -25px;
    filter: blur(5px);
    background-size: cover;
    position: absolute;
    height: 110px;
    top: 45px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
  }
  
  header .header_bar {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.25);
    background: rgba(255,255,255,0.05);
    z-index: 3;
    display: flex;
    align-items: center;
    box-shadow: 0 0 19px 18px rgba(43,48,52,0.05), 0 0 3px 4px rgba(43,48,52,0.05);
  }
  
  header .header_bar:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 10px;
    width: calc(100% - 20px);
    border-bottom: 1px dashed rgba(255,255,255,0.2);
    box-shadow: 0 0 2px rgba(43,48,52,0.2);
  }
  
  header .header_bar:after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 10px;
    width: calc(100% - 20px);
    border-bottom: 1px dashed rgba(255,255,255,0.2);
    box-shadow: 0 0 2px rgba(43,48,52,0.2);
  }
  
  header .logo {
    font-weight: 100;
    color: #fff;
    margin: 0 30px 0 50px;
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    z-index: 3;
  }
  
  header .logo img {
    width: 200px;
  } */


nav {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    
}

.navbar {
    display: inline-block;
    /* filter: blur(5px); */
    opacity: 0.75;
}

nav li {
    display: inline-block;
    padding: 10px 10px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    z-index: 1;
}

.navbar-brand {
    color: #bb0a21;
    font-family: 'Raleway Dots', cursive;
}

nav li a {
    color: #cebebe;
}

.nav, .navbar-nav {
    display: inline-block;
}

.navbar-header {
    margin-right: 10px;
    z-index: 3;
}

.nav-logo {
  margin-right: 10px;
  margin-top: -5px;
}

/* .shift {
  margin-right: 5%;
} */

/* SHIFT */
.shift ul li a {
  position:relative;
  z-index: 1;
}
.shift ul li a:hover {
  color: #FF1177;
}
.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #cebebe;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

