@import url('https://fonts.googleapis.com/css?family=Raleway+Dots');

form {
    text-align: center;
    width: 112%;
    margin-top: 0;
    margin-left: 46.25%;
    background-color: #eee;
    padding: 20px;
}

.form-group {
    width: 250px;
    margin: auto;
    padding: 10px;
}
/* 

.form-control {
    margin: auto;
} */