@import url('https://fonts.googleapis.com/css?family=Raleway+Dots');

form {
    border: 2px hsl(198, 37%, 46%) solid;
    text-align: center;
    width: 112.3%;
    margin-top: 0;
    margin-left: 46%;
    background-color: #eee;
}