/* Home Page display */
.jumbotron {

  display: block;
  height: 325px;

}

img {
  /* display: inline-block; */
  margin-left: 20%;
}

.pull-right {
  display: inline;
}

.form {
  border: 2px solid #aaaaaa;
}

.navbar-right {
  align-content: right;
}



/* Dashboard Display */
/* display this row with flex and use wrap (= respect columns' widths) */

.row-flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  /* vertical spacing between columns */
  
  [class*="col-"] {
    margin-bottom: 30px;
  }
  
  .content {
    height: 100%;
    padding: 20px 20px 10px;
    color: #fff;
  }
  
  
  /* Case backgrounds and styling*/
  
  .color-1 {
    background: #483C46;
    color: #fff;
  }

  body {
    padding: 20px 0;
    font-family: Roboto, sans-serif;
  }
  
  .content h3 {
    margin-top: 0px;
    font-weight: 300;
  }
  
  h1 {
    font-weight: 300;
    margin-bottom: 40px;
  }